extends layout

block scripts 
  script(type="module" src="/javascripts/signin.js" )

block stylesheet
  link(rel='stylesheet', href='/stylesheets/signin.css')

block content
  div.main
    form.login-form
      input(name="userId", id="userId", placeholder='아이디 또는 이메일')
      span.userId-err.err 
      input(name="password", id="password", placeholder='비밀번호' type="password")
      span.password-err.err
      button.login-form__submit(type="submit") 로그인
      div.err #{msg}
      div.login-form__link
        a.side-line 아이디 찾기 
        a 비밀번호 찾기

    div.bottom
      button.social-login 페이스북으로 로그인
      button.social-login 네이버로 로그인
      button.social-login Apple로 로그인

      div 
        span 혹시 배달의민족이 처음이신가요? 
        a.signup-link 회원가입 
    