.main{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.login-form{
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form button{
    background-color: var(--color-baemin);
    width: 90%;
    color: var(--color-white);
    padding: 15px;
    margin-top: 25px;
    font-size: 1em;
}

.login-form__link{
  margin-top: 10px;
  color: var(--color-gray)
}

.side-line::after{
    content: "|";
    margin: 0 5px;
}


.social-login{
    width: 100%;
    margin: 5px auto;
    border: 1px solid;
    background-color: var(--color-white);
    border-radius: 5px;
    padding: 10px;
}


.signup-link{
    color: var(--color-baemin);
}